body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin: 20px;
}

.box {
    background-color: #3cb371;
    color: black;
    padding: 30px 20px;
}
.op-1 {
    opacity: 0.1;
}
.op-3 {
    opacity: 0.3;
}
.op-6 {
    opacity: 0.6;
}
.op-10 {
    opacity: 1;
}