body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.box {
    border: 2px solid red;
    padding-top: 2px;
    padding-bottom: 2px;
}
.box + .box {
    margin-top: -2px;
}
.box-cm {
    padding-left: 2cm;
}
.box-percent {
    padding-left: 50%;
}