body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: 20px;
    width: 550px; 
    table-layout: fixed; 
}

caption {
    caption-side: top;
    margin-bottom: 5px;
}

th, td {
    border: 1px solid gray;
    padding: 4px 10px; 
}

.bg-red {
    background-color: #FF0000;
    color: white;
    font-weight: bold; 
}

.bg-teal {
    background-color: #009999;
    color: white;
    text-align: left;
    font-weight: normal; 
    padding-left: 10px;
}