table {
    width: 70%;
    font-family: "Lucida Sans Unicode";
    border-collapse: collapse;

}
.fc {
    color: #039;
    border-bottom: 2px solid #6678b1;
}
td {
    color: #669;
}
tr:hover td {
    color: #69f;
}